sentence-transformers
fastapi
uvicorn[standard]

python-dotenv
requests

numpy
pandas

faiss-cpu

pypdf
PyMuPDF

Pillow

sentence-transformers
transformers
torch
torchvision

langchain
langchain-community
langchain-core

openai